.about {
  background-color: #e4e4e5;
  padding-bottom: 55px;
  display: flex;
  justify-content: center;
  .about-container {
    max-width: 1000px;
    .container {
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .image-container {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        @media (min-width: 1024px) {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
      .text-container {
        padding: 20px 30px;
        p {
          text-align: center;
        }
      }
      .button-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        @media (min-width: 1024px) {
          align-items: flex-end;
        }
        a {
          background-color: #1f252d;
          text-decoration: none;
          border: none;
          color: white;
          font-family: $regular-font;
          padding: 10px;
        }
      }
    }
  }
}
