.contact {
  margin-top: -55px;
  .contact-container {
    background-color: $main-color;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    h2 {
      color: $white;
      padding-top: 80px;
    }
    .form-layout {
      max-width: 700px;
      margin: 0 auto;
      .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px 20px 30px;
        input,
        textarea {
          background-color: #1d2024;
          border: none;
          margin-top: 5px;
          padding: 10px;
          color: $white;
          font-family: $regular-font;
          &:focus {
            border: 1px solid $white;
          }
        }
        button {
          background-color: #1d2024;
          color: $white;
          border: none;
          width: 50%;
          margin: 0 auto;
          margin-top: 5px;
          padding: 10px;
          font-family: $regular-font;
          &:focus {
            border: 1px solid $white;
          }
        }
        #text-area {
          height: 100px;
        }
      }
    }
  }
}

.footer {
  background-color: $main-color;
  display: flex;
  justify-content: center;
  svg {
    width: 8%;
    height: 8%;
    margin: 15px 0 15px 0;
    @media (min-width: 768px) {
      width: 50px;
    }
    &:first-child {
      margin-right: 15px;
    }
  }
}
